<footer class="text-center">
    <div class="container">
        <div class="row">
            <h3>
                THE YOUTH MOVEMENT AGAINST ALZHEIMER’S 
            </h3>
            <h4>
                CREATING A FUTURE WORTH REMEMBEING
            </h4>
        </div>
        <div class="row signup">
            <input type="text" name="emailSignup" placeholder="Enter your email to sign up to our newsletter" /><a href="#">Sign Up</a>
        </div>
        <div class="row marginTop20">
            <p>We are committed to fighting against Alzheimer’s and raising awareness about the disease</p>
        </div>
        <div class="row marginTop40">
            <p>Social icons and Contact Details Go here</p>
        </div>
        <div class="row marginTop40">
            <p>Made with <i class="fa fa-heart"></i> in Los Angeles</p>
        </div>
    </div>
</footer>