<nav ng-class="{'whiteNav': nav}" ng-controller="NavCtrl">
    <div class="col-xs-12 col-lg-2">
        <img src="assets/images/logo.png">
    </div>
    <div class="col-xs-0 col-lg-10 links">
        <a href="#/chapters">Chapters</a>
        <a href="#/alzheimers">WHAT IS ALZHEIMER’S</a
        >
        <a href="#/research">Undergraduate Research</a>
        <a href="#/timeout">Youth Caregiving Program</a>
        <a href="#/join">Join the Movement</a>
        <a href="#/about">About Us</a>
        <a href="#/about" class="hot">Donate</a>
    </div>
</nav>